workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        368
      ],
      "id": "f21f44ef-a56e-4d7f-b9fb-dddd17b37e78",
      "name": "OpenWeather",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b277ba7c-3a77-4282-9ea6-d5b0df51ba5a",
              "name": "final_message",
              "value": "=🌤️ A temperatura em {{ $('OpenWeather').item.json.name }} é de {{ Math.round($('OpenWeather').item.json.main.temp) }} °C.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        352
      ],
      "id": "ebc69c1d-e03a-42c4-8f61-2cd1f76a6385",
      "name": "Definir Fallback"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1152,
        352
      ],
      "id": "35f75452-2266-46c0-9908-dafdb730e61d",
      "name": "Fim"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Atue como um assistente virtual amigável e prestativo no Telegram.\nSeu objetivo é informar a previsão do tempo para o usuário de forma natural, como se fosse um amigo enviando uma mensagem.\n\nInstruções de estilo:\n- Use emojis relacionados ao clima (ex: ☀️, 🌧️, 🌡️).\n- Arredonde os valores numéricos para números inteiros.\n- Adicione a unidade \"°C\" após as temperaturas.\n- Seja breve, mas cordial.\n\nDados recebidos da API OpenWeather:\n- Local: {{ $('Formatar Cidade').item.json.queue }}\n- Clima: {{ $json.weather[0].description }}\n- Temp. Atual: {{ $json.main.temp }}\n- Sensação: {{ $json.main.feels_like }}\n- Máxima: {{ $json.main.temp_max }}\n- Mínima: {{ $json.main.temp_min }}\n\nGere a mensagem de resposta agora:"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        176,
        256
      ],
      "id": "2aaef1cb-247a-4d3c-a9af-5ede30801913",
      "name": "Gerar resposta com IA",
      "credentials": {
        "googlePalmApi": {
          "id": "dJsNe8oJvis5bHiK",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        368
      ],
      "id": "6372cfc8-e014-4316-9831-515c1a10f814",
      "name": "Receber Mensagem",
      "webhookId": "50d09fa2-c1d7-40f6-9e75-9b4268ee7411",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efceb00e-0dad-4c8c-a552-874e1a9ba72f",
              "name": "=queue",
              "value": "={{ $('Receber Mensagem').item.json.message.text.toString().toLowerCase().trim().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s*,\\s*/g, \",\") }},br",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false,
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        368
      ],
      "id": "d79d768f-7b49-48ba-868d-bc81efbd5065",
      "name": "Formatar Cidade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4651d8b8-6654-44f3-92d8-5857b8215593",
              "name": "final_message",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        160
      ],
      "id": "d7169428-7853-469d-82bb-5106c295329c",
      "name": "Formatar Resposta da IA"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "={{ $json['final_message'] }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        224
      ],
      "id": "71706e6b-dfa4-4fe1-b548-e1e090fd2f21",
      "name": "Enviar Temperatura Atual",
      "webhookId": "c05dde78-159f-46b3-973b-f676d607b5b6",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1af4947-f58c-4a11-8072-a0d0144d9f67",
              "leftValue": "={{ $json.cod }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7f6bfb5b-c366-4857-a7a2-a239e46762e5",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5a40cb9a-e7ee-4a6f-b618-a66b08ae1096",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        368
      ],
      "id": "3fe61804-3060-4307-aa1a-cfab42d873c4",
      "name": "Validar Resposta API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea69c7b9-b2e5-4dc5-b39b-367db4e39c86",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        256
      ],
      "id": "b708f42b-ecfe-439b-87a6-a264ff95610d",
      "name": "Validar Resposta IA"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "=❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        560
      ],
      "id": "70d79bc5-c705-4e25-bd3e-e3802c68bc74",
      "name": "Enviar erro",
      "webhookId": "c05dde78-159f-46b3-973b-f676d607b5b6",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenWeather": {
      "main": [
        [
          {
            "node": "Validar Resposta API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Definir Fallback": {
      "main": [
        [
          {
            "node": "Enviar Temperatura Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resposta com IA": {
      "main": [
        [
          {
            "node": "Validar Resposta IA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Receber Mensagem": {
      "main": [
        [
          {
            "node": "Formatar Cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Cidade": {
      "main": [
        [
          {
            "node": "OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta da IA": {
      "main": [
        [
          {
            "node": "Enviar Temperatura Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Temperatura Atual": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resposta API": {
      "main": [
        [
          {
            "node": "Gerar resposta com IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resposta IA": {
      "main": [
        [
          {
            "node": "Formatar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Definir Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar erro": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "174c7147-e371-4d60-89cc-d9c2026c25a3",
  "meta": {
    "instanceId": "90e85f651333b5a2cc6ffd21db0aaeb8c8caa5545cb3e99914859f16e84ef73a"
  },
  "id": "raqFlMvc1vRyLBGct886k",
  "tags": []
}