workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "units",
              "value": "Metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        288
      ],
      "id": "aac472c4-b5e6-4167-8f27-967d79e0a0c4",
      "name": "OpenWeather",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b277ba7c-3a77-4282-9ea6-d5b0df51ba5a",
              "name": "final_message",
              "value": "=🌤️ A temperatura em {{ $('OpenWeather').item.json.name }} é de {{ Math.round($('OpenWeather').item.json.main.temp) }} °C.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        144
      ],
      "id": "2e0de2b9-feab-41ef-b638-e9d4c107087e",
      "name": "Definir Fallback"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        272
      ],
      "id": "e6d203fd-c942-4452-804d-081442cdad65",
      "name": "Fim"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Atue como um assistente virtual amigável e prestativo no Telegram.\nSeu objetivo é informar a previsão do tempo para o usuário de forma natural, como se fosse um amigo enviando uma mensagem.\n\nInstruções de estilo:\n- Use emojis relacionados ao clima (ex: ☀️, 🌧️, 🌡️).\n- Arredonde os valores numéricos para números inteiros.\n- Adicione a unidade \"°C\" após as temperaturas.\n- Seja breve, mas cordial.\n\nDados recebidos da API OpenWeather:\n- Local: {{ $('Formatar Cidade').item.json.queue }}\n- Clima: {{ $json.weather[0].description }}\n- Temp. Atual: {{ $json.main.temp }}\n- Sensação: {{ $json.main.feels_like }}\n- Máxima: {{ $json.main.temp_max }}\n- Mínima: {{ $json.main.temp_min }}\n\nGere a mensagem de resposta agora:"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -384,
        32
      ],
      "id": "0c72afc8-ee82-4bd2-a649-2b667b276de6",
      "name": "Gerar resposta com IA",
      "credentials": {
        "googlePalmApi": {
          "id": "dJsNe8oJvis5bHiK",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        288
      ],
      "id": "4a4ee963-6bd4-44af-a4c2-0a6283cce79d",
      "name": "Receber Mensagem",
      "webhookId": "50d09fa2-c1d7-40f6-9e75-9b4268ee7411",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efceb00e-0dad-4c8c-a552-874e1a9ba72f",
              "name": "=queue",
              "value": "={{ $('Receber Mensagem').item.json.message.text.toString().toLowerCase().trim().replace(/\\s*,\\s*/g, \",\") }},br",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false,
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        288
      ],
      "id": "1a7c9c8f-e1b2-4429-92b8-062dc92dc59f",
      "name": "Formatar Cidade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4651d8b8-6654-44f3-92d8-5857b8215593",
              "name": "final_message",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -64
      ],
      "id": "8795ce42-f12d-4585-a306-bb77164d6f1a",
      "name": "Formatar Resposta da IA"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "={{ $json['final_message'] }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        48
      ],
      "id": "0c5dc56b-787c-489a-8360-049dd02d8050",
      "name": "Enviar Temperatura Atual",
      "webhookId": "c05dde78-159f-46b3-973b-f676d607b5b6",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "=❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        416
      ],
      "id": "b9d0773f-cb61-4a0e-8351-b9d0a103a2e3",
      "name": "Enviar erro",
      "webhookId": "c05dde78-159f-46b3-973b-f676d607b5b6",
      "credentials": {
        "telegramApi": {
          "id": "NQKNeaoZJQbMEdiq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenWeather": {
      "main": [
        [
          {
            "node": "Gerar resposta com IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Fallback": {
      "main": [
        [
          {
            "node": "Enviar Temperatura Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resposta com IA": {
      "main": [
        [
          {
            "node": "Formatar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Definir Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Mensagem": {
      "main": [
        [
          {
            "node": "Formatar Cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Cidade": {
      "main": [
        [
          {
            "node": "OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta da IA": {
      "main": [
        [
          {
            "node": "Enviar Temperatura Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Temperatura Atual": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar erro": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "02795326-7137-459c-901b-7552f8849481",
  "meta": {
    "instanceId": "90e85f651333b5a2cc6ffd21db0aaeb8c8caa5545cb3e99914859f16e84ef73a"
  },
  "id": "4QdSIjVkyEUKLVqqqRH5C",
  "tags": []
}